/* Variables */
:root {
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

/* Global Font Style */
* {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 20px;
  grid-template-areas:
    "attendance conversation"
    "footer footer";
}

.attendance-wrapper {
  grid-area: attendance;
}

.conversation-wrapper {
  grid-area: conversation;
}

footer {
  grid-area: footer;
  text-align: center;
  font-size: 12px;
  box-shadow: var(--shadow);
  font-style: italic;
  font-weight: 600;
}

.attendance-wrapper,
.conversation-wrapper {
  padding: 1rem;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.capitalize {
  text-transform: capitalize;
}

#textOutput li,
#conversationOutput li {
  padding-bottom: 3px 10px;
  font-size: 14px;
}

.hidden {
  display: none;
}

@media (max-width: 768px) {

  .attendance-wrapper,
  .conversation-wrapper {
    padding: 0;
  }

  .container {
    width: 100% !important;
    margin: 0 !important;
  }

  .attendance-wrapper,
  .conversation-wrapper {
    padding: 0 5px;
  }
}


/* Material Icons Color Choice */
.material-icons.redIcon {
  color: #f44336;
}

.material-icons.blueIcon {
  color: #2196f3;
}

.material-icons.blueGreyIcon {
  color: #607d8b;
}

/* Material Icons Color Choice */

.btnDiv a,
.btnDiv2 a {
  cursor: pointer;
  padding: 0 10px;
}